In [3]:
# In this code, I want to create a pivot table in which all state's mean bed capacity per 1000
# is sorted for all hospital types (ICU, ACUTE, PSYCHIATRIC, OTHER)

import pandas as pd
import numpy as np
df = pd.read_csv('hospital_beds_USA_v1.csv')
pt1 = df.pivot_table(values='beds', index='state', columns='type', aggfunc=[np.mean])

pt1.head()

           mean
type      ACUTE       ICU     OTHER PSYCHIATRIC
state
AK     2.191016  0.507256  0.191131    0.938888
AL     3.246263  0.251392  0.521167    0.513151
AR     3.920191  0.642025  0.908361    0.750909
AZ     1.603711  0.175407  0.374132    0.157403
CA     2.475591  0.141081  0.310646    0.719525

In [2]:
print(type(pt1)) # output is <class 'pandas.core.frame.DataFrame'>

<class 'pandas.core.frame.DataFrame'>